* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#background_image {
  position: fixed;
  /* top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: fil;
  z-index: -10;

  filter: blur(8px);
}

#main,
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #acacbd;
  height: 100vh;
  overflow: scroll;
}
#grid_container {
  scroll-snap-type: y mandatory;
  position: absolute;
  top: 25vh;
  left: 10vw;
  right: 10vw;
  display: grid;
  margin: 8px;
  gap: 0.5em;
  /* translate: -10% 0%; */
  grid-template-columns: repeat(5, 1fr);
}
.grid_element {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  border-radius: 4px;
  max-width: 180px;
  aspect-ratio: 1.41;
  overflow: hidden;
  opacity: 0.85;
  box-shadow: 3px 3px 4px #000000aa;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}
.grid_element img:hover {
  scale: 1.05;
}
.selected {
  opacity: 1;
  border: 2px solid salmon;
  box-shadow: 3px 3px 10px #ff0000, -3px -3px 10px #ff0000, -3px 3px 10px #ff0000, 3px -3px 10px #ff0000;
}
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#popup {
  position: fixed;
  scale: 0;
  top: 7.5%;
  left: 7.5%;
  bottom: 7.5%;
  right: 7.5%;
  transition: 200ms ease-in-out;
  background-color: #00000033;
  z-index: 10;
}
#overlay {
  scale: 0;
  background-color: #000000aa;
}
#popup img {
  object-fit: contain;
}
#popup.active,
#overlay.active {
  /* width: fit-content; */
  scale: 1;
}
#close_button {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
  font-size: x-large;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
}
#next {
  position: absolute;
  top: 50%;
  right: 2%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  translate: 0 -50%;
  text-shadow: 0px 0px 5px black;
}
#prev {
  position: absolute;
  top: 50%;
  left: 2%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  translate: 0 -50%;
  text-shadow: 0px 0px 5px black;
}
#prev.hidden,
#next.hidden {
  display: none;
}

@media only screen and (800px <= width <= 1000px) {
  #grid_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid_element {
    height: 12vw;
  }
}
@media only screen and (500px <= width < 800px) {
  #grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid_element {
    height: 16vw;
  }
}
@media only screen and (width < 500px) {
  #grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_element {
    height: 25vw;
  }
}
