* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  overflow: hidden;

  background-color: #ffb457;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);
}
html {
  box-sizing: border-box;
  --bgColorMenu: #1d1d27;
  --duration: 0.7s;
}
.svg-container {
  rotate: 180deg;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
#menu_back {
  height: 6.6em;
  background-color: black;
  width: 100vw;
  position: fixed;
}

body {
}

.menu {
  margin: 0;
  display: flex;
  /* Works well with 100% width  */
  width: 100%;
  font-size: 1.5em;
  padding-inline: 2.85em;
  padding-top: 0.9em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  top: 0;
}
.item_text {
  scale: 0;
  font-size: 0.75em;
  position: absolute;
  color: white;
}

.menu__item {
  all: unset;
  scale: 0.75;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.15em 0 0.25em;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  /* border: 30px black solid; */
  transition: background-color var(--duration), transform var(--duration);
}
.item_text.active {
  scale: 1.2;
  top: -2em;
}
.item_text.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.menu__item.active {
  transform: translate3d(0, 0.8em, 0);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: square;
  stroke-linejoin: miter;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  rotate: 180deg;
  left: 0;
  top: 99%;
  /* font-size: 18px; */
  width: 8.9em;
  height: 2em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
}

.svg-container {
  width: 0;
  height: 0;
}
input {
  /* display: none; */
}
label {
  font-size: 4em;
  cursor: pointer;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -100%;
  color: white;
  white-space: nowrap;
}
#openMenu {
  position: fixed;
  scale: 0;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 36em;
  aspect-ratio: 2;
  border-radius: 10px;
  background-color: #83838373;
  transition: 0.5s ease-in-out;
}
#openMenu.active {
  scale: 1;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.4em;
  }
}
@media screen and (801px <= width <= 1200px) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (551px <= width <= 800px) {
  body {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 0.8em;
  }
}

#background_image {
  position: fixed;
  /* top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: fil;
  z-index: -10;

  filter: blur(8px);
}
#main {
  scale: 0;
}
#main,
#overlay {
  position: fixed;
  top: 14vh;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #acacbd; */
  height: 100vh;
  overflow: scroll;
}
#grid_container {
  scroll-snap-type: y mandatory;
  position: absolute;
  top: 25vh;
  left: 10vw;
  right: 10vw;
  display: grid;
  margin: 8px;
  gap: 0.5em;
  /* translate: -10% 0%; */
  grid-template-columns: repeat(5, 1fr);
}
.grid_element {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  border-radius: 4px;
  max-width: 180px;
  aspect-ratio: 1.41;
  overflow: hidden;
  opacity: 0.85;
  box-shadow: 3px 3px 4px #000000aa;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}
.grid_element img:hover {
  scale: 1.05;
}
.selected {
  opacity: 1;
  border: 2px solid salmon;
  box-shadow: 3px 3px 10px #ff0000, -3px -3px 10px #ff0000, -3px 3px 10px #ff0000, 3px -3px 10px #ff0000;
}
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#popup {
  position: fixed;
  scale: 0;
  top: 7.5%;
  left: 7.5%;
  bottom: 7.5%;
  right: 7.5%;
  transition: 200ms ease-in-out;
  background-color: #00000033;
  z-index: 10;
}
#overlay {
  scale: 0;
  background-color: #000000aa;
}
#popup img {
  object-fit: contain;
}
#popup.active,
#overlay.active {
  /* width: fit-content; */
  scale: 1;
}
#close_button {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
  font-size: x-large;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
}
#next {
  position: absolute;
  top: 50%;
  right: 2%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  translate: 0 -50%;
  text-shadow: 0px 0px 5px black;
}
#prev {
  position: absolute;
  top: 50%;
  left: 2%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  translate: 0 -50%;
  text-shadow: 0px 0px 5px black;
}
#prev.hidden,
#next.hidden {
  display: none;
}

@media only screen and (800px <= width <= 1000px) {
  #grid_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid_element {
    height: 12vw;
  }
}
@media only screen and (500px <= width < 800px) {
  #grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid_element {
    height: 16vw;
  }
}
@media only screen and (width < 500px) {
  #grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_element {
    height: 25vw;
  }
}
