body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: linear-gradient(to right, #5de6eb, #026e78);
  user-select: none;
}
:root {
  --flex_percent: 100%;
  --grid_column: 1;
  --column_with: calc(60vw / var(--grid_column));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid_container {
  position: absolute;
  left: 3em;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10vw;
  /* background-color: #6a6a6a; */
  /* align-items: center; */
  justify-content: center;
  user-select: none;
}
.grid_container .grid_column {
  flex: var(--flex_percent);
  height: fit-content;
}
.grid_container .grid_column .img {
  width: 100%;
  display: none;
}
.grid_container .grid_column .img:hover {
  scale: 1.05;
}
.grid_element {
  margin: 1em;
  margin-left: 0;
  display: flex;
  overflow: hidden;
  /* border: 2px solid #0b6366; */
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 4px 4px 6px #053085bc;
}
.tooltip {
  width: 120px;
  height: auto;
  padding: 5px 1px;
  /* background-color: #026e78; */
  color: wheat;
  position: absolute;
  top: 100%;
  left: 10%;
  border-radius: 5px;
  font-size: 0.8em;
}
#displayStyle,
#viewOptions,
#slideShow {
  all: unset;
}
.welcomtext {
  width: 50vw;
  text-align: center;
  font-size: 2em;
  line-height: 1.4em;
}
.welcomtext span {
  line-height: 1.2em;
  display: block;
  font-size: 0.6em;
}
span strong {
  text-decoration: underline;
}
#enlarged_image {
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
  width: 3em;
  height: 100dvh;
  left: 0vh;
  font-size: 0.75em;
  top: 0;
  background-color: #131f39;
  transition: 0.3s ease;
}
.menu:hover {
  font-size: 1.2em;
  width: 5em;
}

label {
  color: #a5a5a5;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  font-size: 0.8em;
  bottom: 0;
  margin: 0.4em;
}
.icon {
  filter: brightness(0) saturate(100%) invert(79%) sepia(0%) saturate(4951%) hue-rotate(171deg) brightness(87%) contrast(79%);
  display: block;
  margin-block: 0.5em;
  height: 2em;
  transition: 0.5s ease-in-out;
}
.menu_file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file_item {
  width: 8em;
  padding-block: 2em;
  /* background-color: blueviolet; */
  /* border: 2px solid black; */
}

label:hover {
  color: #f5deb3;
  scale: 1.1;
}
label:hover .icon {
  filter: brightness(0) saturate(100%) invert(86%) sepia(21%) saturate(512%) hue-rotate(343deg) brightness(104%) contrast(92%);
}
.selected {
  opacity: 1;
  border: 2px solid salmon;
  box-shadow: 3px 3px 10px #ff0000, -3px -3px 10px #ff0000, -3px 3px 10px #ff0000, 3px -3px 10px #ff0000;
}
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#popup {
  position: fixed;
  scale: 0;
  top: 7.5%;
  /* left: 7.5%; */
  bottom: 7.5%;
  /* right: 7.5%; */
  transition: 200ms ease-in-out;
  background-color: #00000033;
  z-index: 10;
  width: 80vw;
  padding-inline: 2em;
}
#overlay {
  scale: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  position: fixed;
  z-index: 9;
}
#popup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#popup.active,
#overlay.active {
  /* width: fit-content; */
  scale: 1;
}
#close_button {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
  font-size: x-large;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
}
#next,
#prev {
  position: absolute;
  top: 50%;
  right: 1%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  translate: 0 -50%;
  text-shadow: 0px 0px 5px black;
}
#prev {
  left: 1%;
}
#prev.hidden,
#next.hidden {
  display: none;
}
